<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="icon" href="/static/icono.png" sizes="16x20">
		<title>NBA-Statistics</title>
	</head>
	<body>
		<div id='container'>
			<div id='contenido'>
				<div id='este'><a href='este'><img src="/static/este.gif" title="Este"/></a><br></div>
				<div id='oeste'><a href='oeste'><img src="/static/oeste.gif" title="Oeste"/></a></div>
			</div>
		</div>
	</body>
</html>