html{
    background: url(/static/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#container{
	width:90%;
	height: 90%;
}

#contenido{
	width:90%;
	height: 90%;
	margin-left: 5%;
	margin-top: 5%;
}

#este{
	position: absolute;
	right: 5%;
	top: 30%;
}

#oeste{
	position : absolute;
	left:5%;
	top: 30%;
}